/* Main page */

body {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  font-family: Righteous;
  background-color: #2C5F2D; 
  color: #242222;
}

header,
main,
footer {
  padding: 5px;
  margin: 10px 5px;
}

header img {
  max-width: 50%;
}

header,
footer,
.content-list,
.project-box
 {
  border-radius: 10px;
  background-color: #97BC62;
}

.project-box p {
  max-width: 70%;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  font-size: 2rem;
}

h2,
h3 {
  font-size: 1.5em;
  font-weight: lighter;
}

h3,
h6 {
  padding: 10px;
}

ul {
  list-style-type: none;
}

li {
  align-items: center;
  padding: 20px 10px;
}

li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #242222;
}

/* Project 1 - Digital clock  */

#digital-clock {
  background-color: #FFF;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-family: Handjet;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 2px;
  color: yellow;
  background-color: #000;;
}

/* Project 2 - Quote generator */

button {
  margin: 10px;
  padding: 8px;
  font-family: Inter;
  font-weight: semi-bold;
  font-size: 1.2em;
  background-color: #000;
  color: yellow;
  border: none;
}

.project-box img {
  height: auto;
  margin: 0 auto;
  width: 10vw;
  min-width: 150px;
  padding: 30px;
}

.quote-pic-and-text p {
  font-size: 2em;
}

@media (min-width: 800px) {
  .quote-pic-and-text {
    display: flex;
    align-items: center;
  }
  .quote-pic-and-text img,
  .quote-pic-and-text p {
    width: 35%;
  }
}